*
{
  padding: 0px;
  margin: 0px;
}

#stage 
{
  position: relative;
  width: 384px;
  height: 384px;
  margin: 10px;
  background-image: url("../images/background.png");
}

.cell
{
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
}

#game
{
  width: 404px;
  height: 570px;
  background-color: white;
  border: 1px dashed black;
}

@font-face 
{
  font-family: PiratesWriters;
  src: url("../fonts/PiratesWriters.ttf");
}

h1
{
  text-align: center;
  font-family: PiratesWriters;
  font-size: 50px;
}

p
{
  font-family: PiratesWriters;
  font-size: 20px;
  width: 384px;
  padding: 10px;
}
